absl-py==0.12.0
aiohttp==3.7.4.post0
alabaster==0.7.12
alembic==1.7.6
aniso8601==8.0.0
annoy==1.17.0
appdirs==1.4.4
appnope==0.1.2
APScheduler==3.6.3
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
Automat==20.2.0
Babel==2.9.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
beautifulsoup4==4.6.0
bleach==3.3.0
blinker==1.4
blis==0.7.5
boto3==1.20.34
botocore==1.23.34
cachetools==4.2.2
catalogue==2.0.6
certifi==2021.10.8
cffi==1.14.6
characteristic==14.3.0
chardet==3.0.4
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
colorama==0.4.4
coloredlogs==15.0
config==0.5.0.post0
ConfigArgParse==1.4
constantly==15.1.0
cycler==0.10.0
cymem==2.0.6
Cython==0.29.26
databricks-cli==0.16.4
dataclasses==0.6
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.4
distlib==0.3.1
dm-tree==0.1.6
dnspython==2.2.0
docker==5.0.3
docopt==0.6.2
docutils==0.16
easydict==1.9
email-validator==1.1.3
emoji==1.6.1
entrypoints==0.3
et-xmlfile==1.1.0
fakeredis==1.5.0
fasttext @ file:///Users/eunsunkim/fastText
fbmessenger==4.3.1
filelock==3.4.1
Fiona==1.8.20
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
Flask-WTF==1.0.0
flatbuffers==2.0
fonttools==4.29.1
funcy==1.16
future==0.18.2
gast==0.4.0
gensim==4.1.0
geographiclib==1.52
geopandas==0.9.0
geopy==2.2.0
gevent==21.1.2
gin-config==0.5.0
gingerit==0.8.2
gitdb==4.0.9
GitPython==3.1.27
gluonnlp==0.10.0
google-api-core==2.2.2
google-api-python-client==2.29.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-bigquery==2.30.1
google-cloud-core==2.1.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
googletrans==4.0.0rc1
graphviz==0.8.4
greenlet==1.0.0
grpcio==1.41.1
grpcio-status==1.41.1
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
h5py==3.1.0
hpack==3.0.0
hstspreload==2021.9.1
httpcore==0.9.1
httplib2==0.20.2
httpx==0.13.3
huggingface-hub==0.4.0
humanfriendly==9.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.6
imagesize==1.2.0
importlib-metadata==4.8.3
incremental==21.3.0
install==1.3.4
ipykernel==6.2.0
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.1.0
JPype1==1.2.1
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaggle==1.5.12
keras==2.7.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
klein==20.6.0
kobert @ git+https://git@github.com/SKTBrain/KoBERT.git@fc6442165255c4ad77fe460f4995a1a3ec83c5eb
kobert-transformers==0.4.1
konlpy==0.5.2
kss==3.3.1.1
langcodes==3.3.0
libclang==12.0.0
lightgbm==3.3.2
lxml==4.6.3
Mako==1.1.6
Markdown==3.3.4
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.5.1
matplotlib-inline==0.1.2
missingno==0.4.2
mistune==0.8.4
mlflow==1.23.1
mlxtend==0.18.0
multidict==5.1.0
munch==2.5.0
murmurhash==1.0.6
mxnet==1.7.0.post2
mysql-connector==2.2.9
mysql-connector-python==8.0.28
mysql-connector-python-rf==2.2.2
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nbsphinx==0.8.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.2.4
notebook==6.4.3
numexpr==2.7.3
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.1
onnxruntime==1.8.0
opencv-python-headless==4.5.4.58
openpyxl==3.0.7
opt-einsum==3.3.0
osmnx==1.1.1
packaging==21.3
pandas==1.1.5
pandoc==1.0.2
pandocfilters==1.4.3
parso==0.8.2
pathlib==1.0.1
pathy==0.6.1
patsy==0.5.1
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
Pint==0.17
platformdirs==2.2.0
plotly==5.4.0
ply==3.11
preprocessing==0.1.13
preshed==3.0.6
prometheus-client==0.11.0
prometheus-flask-exporter==0.18.7
promise==2.3
prompt-toolkit==3.0.19
proto-plus==1.19.7
protobuf==3.19.3
psutil==5.8.0
ptyprocess==0.7.0
py-cpuinfo==8.0.0
py-hanspell @ git+https://github.com/ssut/py-hanspell.git@8e993cf46f97f9d665c15633a0fc78ac1b727713
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
pycocotools==2.0.2
pycparser==2.20
pydantic==1.8.2
pydotplus==2.0.2
pyemd==0.5.1
Pygments==2.8.1
pykwalify==1.6.0
pyLDAvis==3.3.1
pymongo==3.11.3
PyMySQL==1.0.2
pyparsing==3.0.6
pyproj==3.1.0
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==5.0.2
python-telegram-bot==13.5
pytz==2020.1
PyYAML==6.0
pyzmq==22.0.3
qtconsole==5.1.1
QtPy==1.10.0
querystring-parser==1.2.4
rasa-core==0.8.6
rasa-nlu==0.11.5
redis==3.5.3
regex==2021.11.10
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.7.2
Rtree==0.9.7
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
s3transfer==0.5.0
sacremoses==0.0.47
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.1
selenium==3.141.0
Send2Trash==1.8.0
sentence-transformers==2.1.0
sentencepiece==0.1.96
seqeval==1.2.2
Shapely==1.7.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
slackclient==2.9.3
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
spacy==3.2.2
spacy-legacy==3.0.8
spacy-loggers==1.0.1
Sphinx==3.5.4
sphinx-rtd-theme==0.2.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.18
sqlparse==0.4.2
srsly==2.4.2
statsmodels==0.12.2
stevedore==3.3.0
tabulate==0.8.9
telegram==0.0.1
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.21.0
tensorflow-metadata==1.2.0
tensorflow-model-optimization==0.7.0
tensorflow-text==2.5.0
termcolor==1.1.0
terminado==0.11.1
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tf-estimator-nightly==2.5.0.dev2021032501
tf-models-official==2.4.0
tf-slim==1.1.0
thinc==8.0.13
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.9.0
torchtext==0.6.0
torchvision==0.10.0
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
transformers==4.15.0
Tubes==0.2.0
tweepy==3.10.0
Twisted==21.2.0
typeguard==2.13.0
typer==0.4.0
typing==3.7.4.3
typing_extensions==4.0.1
tzlocal==2.1
ujson==4.1.0
uritemplate==4.1.1
urllib3==1.26.5
virtualenv==20.7.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wasabi==0.9.0
watermark==2.3.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==3.0.1
xgboost==1.4.2
xlrd==2.0.1
yarl==1.6.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.3.0
